.DS_Store
example-stream

/example-client/bin

/example-client/config.make
/example-client/example-client.xcodeproj
/example-client/Makefile
/example-client/openFrameworks-Info.plist
/example-client/Project.xcconfig

/example-server/addons.make
/example-server/config.make
/example-server/example-server.xcodeproj
/example-server/Makefile
/example-server/openFrameworks-Info.plist
/example-server/Project.xcconfig

/example-server/bin/example-server.app

/example-server/bin/example-serverDebug.app
